<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="fav.png" type="image/x-icon">

    <title>Ocean Technology Co.,Ltd</title>



    <style type="text/css">
        #vl {
            font-size: 24px;
            display: inline-block;
            line-height: 36px;
        }

        #cn {
            width: 100%;
            text-align: center;
            color: white;
            border: 1px solid gray;
            background-color: #1F67A9;
        }


            #cn tr th {
                text-align: center;
                color: black;
            }

            #cn tr {
                border: 1px solid gray;
            }

                #cn tr th {
                    border: 1px solid gray;
                }

                #cn tr td {
                    border: 1px solid gray;
                }


        .sub li a:hover {
            color: white !important;
        }

        .sub li:hover {
            background-color: #0D4982 !important;
        }

        .sub li {
            width: 100%;
        }

        #vlu {
            color: #fff !important;
        }
    </style>

    <!-- style -->

    <link href="css/style.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- carousel -->

    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">

    <!-- responsive -->

    <link href="css/responsive.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="css/animate.min.css" rel="stylesheet" type="text/css">

    <link href="css/popup.css" rel="stylesheet" type="text/css">



</head>

<body class="module-home" data-spy="scroll" data-target=".navbar">


    <!--
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-lablledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 100%">
                <div class="modal-content">
                    <div class="model-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        <iframe width="100%" height="900px" frameborder="0" allowfullscreen src=""></iframe>
                    </div>
                </div>
            </div>
        </div>
     -->
    <!-- header -->

    <header role="header" class="header-top" id="headere-top">



        <div class="header-fixed-wrapper" role="header-fixed">

            <div class="container">

                <!-- hgroup -->

                <hgroup class="row">

                    <!-- logo -->

                    <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">

                        <h1>

                            <a href="#headere-top" title="Ocean"><img src="oceanlogo.png" style="vertical-align: baseline;" width="160px" alt="Ocean" title="Ocean" /></a>

                        </h1>

                    </div>

                    <!-- logo -->
                    <!-- nav -->

                    <nav role="navigation" class="col-xs-12 col-sm-10 col-md-10 col-lg-10 navbar navbar-default">

                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                                <span class="sr-only">Toggle navigation</span>

                                <span class="icon-bar"></span>

                                <span class="icon-bar"></span>

                                <span class="icon-bar"></span>

                            </button>

                        </div>

                        <div id="navbar" class="navbar-collapse collapse">

                            <ul class="nav navbar-nav">

                                <li class="active"><a href="index.html" title="Home" id="vlu">Home</a></li>

                                <li><a href="#section-one" title="Overview" id="vlu">News</a></li>

                                <!--  <li><a href="" style="padding-left: 15px;" title="Ovigate">Telematics</a>
                                     <ul>
                                         <li><a href="">GPS Tracking</a></li>
                                         <li><a href="">Asset Tracking</a></li>
                                         <li><a href="">Fleet Management</a></li>
                                         <li><a href="">Container Tracking</a></li>
                                         <li><a href="">Personal Safety</a></li>
                                         <li><a href="">Car Share</a></li>
                                         <li><a href="">Software Development</a></li>
                                         <li><a href="">IOT</a></li>
                                     </ul>
                                 </li> -->
                                <!-- <li><a href="#" title="O-track">O-track <span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li>Software Development</li>
                                            <li>GPS Tracking System</li>
                                            <li>Fleet Management</li>
                                            <li>Personal Tracking</li>
                                            <li>Stationary Management</li>
                                            <li>Agriculture Management</li>
                                            <li>Supply Chain Management</li>
                                            <li>Logistic & Transportation Management</li>
                                            <li>ATM Management</li>
                                            <li>Health Management</li>
                                            <li>Fuel Management</li>
                                            <li>Sharing Vehicle</li>
                                        </ul>

                                    </div>
                                </li> -->
                                <!--  <li>
                                     <a href="#" ata-toggle="dropdown" title="O-vigate">O-vigate <span class="caret"></span></a>
                                     <div class="dropdown-menu">
                                         <ul>
                                             <li>GIS</li>
                                             <li>GPS Navigation</li>
                                             <li>GPS Handheld</li>
                                             <li>GPS Health WAtch</li>
                                             <li>Software Development</li>
                                         </ul>

                                     </div>
                                 </li> -->
                                <li style="">
                                    <a href="#" data-toggle="dropdown" id="vlu">O-track <span class="caret"></span></a>
                                    <div class="dropdown-menu">

                                        <ul style="text-align:left;width: 250px;" class="sub">

                                            <li><a href="GPS Tracking System.html">GPS Tracking System</a></li>
                                            <li><a href="Fleet Management.html">Fleet Management</a></li>
                                            <li><a href="Fuel Management.html">Fuel Management</a></li>
                                            <li><a href="Personal Tracking.html">Personal Tracking</a></li>
                                            <li><a href="Stationary Management.html">Stationary Management</a></li>
                                            <li><a href="Agriculture Management.html">Agriculture Management</a></li>
                                            <li><a href="Supply Chain Management.html">Supply Chain Management</a></li>
                                            <li><a href="Logistic & Transportation Management.html">Logistic & Transportation</a></li>
                                            <li class="active" !important><a href="ATM management.html">ATM Management</a></li>
                                            <li><a href="Health Management.html">Health Management</a></li>
                                            <li><a href="Sharing Vehicle.html">Sharing Vehicle</a></li>
                                            <li><a href="Software Development.html">Software Development</a></li>
                                        </ul>

                                    </div>
                                </li>

                                <li>
                                    <a href="#" data-toggle="dropdown" id="vlu">O-vigate <span class="caret"></span></a>
                                    <div class="dropdown-menu">

                                        <ul style="text-align:left;width: 230px;" class="sub">
                                            <li style="width:230px"><a href="">GPS</a></li>
                                            <li><a href="">GPS Navigation</a></li>
                                            <li><a href="">GPS Handheld</a></li>
                                            <li><a href="">GPS Health Watch</a></li>
                                            <li><a href="">Software Development</a></li>
                                        </ul>

                                    </div>
                                </li>

                                <li>
                                    <a href="#" data-toggle="dropdown" id="vlu">Solutions <span class="caret"></span></a>
                                    <div class="dropdown-menu">

                                        <ul style="text-align:left;" class="sub">
                                            <li><a href="">ITS Solutions</a></li>
                                            <li><a href="">IOT Solution</a></li>
                                        </ul>

                                    </div>
                                </li>



                                <!--    <li><a href="#section-four" title="System Login">System Login</a></li> -->

                                <li><a href="#section-five" title="Contact" id="vlu">Contact</a></li>


                            </ul>

                        </div>

                    </nav>

                    <!-- nav -->

                </hgroup>

                <!-- hgroup -->

            </div>

        </div>
        <!-- banner Text -->

        <section class="text-center">

            <h2>Welcome to Ocean Technology Co.,Ltd</h2>

            <p>Confident , Best Service and Safe</p>


            <a class="popup-vimeo video-button" href="https://www.youtube.com/embed/-LgUTbljEhk?rel=0">
                <i class="fa fa-caret-right" aria-hidden="true">

                </i>
            </a>

            <a href="#" class="button-header">Get Strated</a>

        </section>



        <!-- banner Text -->
        <!-- banner image -->

        <figure>

            <div class="parallax-window item tp-banner-container" data-parallax="scroll" style="z-index:100;" data-image-src="33083898_195741204397969_4657672117301542912_n.png"></div>

        </figure>

        <!-- banner image -->

    </header>

    <!-- header -->

    <main role="main" id=" main-wrapper">
        <section class="section-one text-center" id="section-one">
            <div class="container">
                <header role="title-page">
                    <h2>ATM Management</h2>
                </header>
                <div class="container">
                    
                    <div style="border: 2px solid #F1F1F1"></div>
                    <div class="row">
                        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12"></div>
                        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">

                            <h2 style="color:#165973;text-align: center;">BHCnav 400</h2>
                            <div class="row">
                                
                                 <div class="col-xl-12 col-sm-12 col-md-5 col-lg-5">
                                    <div class="row" style="border: 3px solid #FCFCFC;">
                                        
                                        <div class="row" style="padding: 15px 15px 15px 15px;">
                                            <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                                   

                                               <p style="width: 100%; border:2px solid #F2F4F5; "><img src="..\..\images\ovigate\BHCnav 400\Easy-using-and-smart-BHCnav-handheld-GPS.jpg_350x350.jpg"></p>
                                              

                                            </div>   
                                                
                                        </div>  
                                      


                                        <div class="row">
                                            <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="col-md-3 col-lg-3">
                                                            <div class="col-md-12 col-lg-12" style="border:2px solid #F1F3F5;">
                                                            <a href=""><img src="..\..\images\ovigate\BHCnav 400\Easy-using-and-smart-BHCnav-handheld-GPS.jpg_350x350.jpg" style="width:60px;"></a>
                                                            </div>
                                                        </div>

                                                         <div class="col-md-3 col-lg-3">
                                                            <div class="col-md-12 col-lg-12" style="border:2px solid #F1F3F5;">
                                                            <a href=""><img src="..\..\images\ovigate\BHCnav 400\HTB1vLAvSFXXXXc1XVXXq6xXFXXXP.jpg" style="width:60px;"></a>
                                                            </div>
                                                        </div>

                                                       <div class="col-md-3 col-lg-3">
                                                            <div class="col-md-12 col-lg-12" style="border:2px solid #F1F3F5;">
                                                            <a href=""><img src="..\..\images\ovigate\BHCnav 400\HTB1CHHMSFXXXXcsXXXXq6xXFXXXp.jpg" style="width:60px;"></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3">
                                                            <div class="col-md-12 col-lg-12" style="border:2px solid #F1F3F5;">
                                                            <a href=""><img src="..\..\images\ovigate\BHCnav 400\Nava 400.jpg" style="width:60px;"></a>
                                                            </div>
                                                        </div>
                                                    </div>    

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                 </div> 

                
            </div>
        </section>
    </main>


























    <footer role="footer" class="footer text-center">

        <div class="container">

            <!-- socil-icons -->

            <section role="socil-icons" class="socil-icons">

                <a href="https://twitter.com/OceanGPS"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                <a href="https://www.facebook.com/oceantechgps/"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                <a href="https://www.linkedin.com/start/join?session_redirect=http%3A%2F%2Fwww.linkedin.com%2Fprofile%2Fview%3Ftrk%3Dspm_pic%26goback%3D%252Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1%26id%3D234083072&trk=login_reg_redirect"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

                <a href="https://www.instagram.com/oceantech_gps/?ref=badge"><li class="fa fa-instagram" aria-hidden="true"></li></a>
            </section>

            <!-- socil-icons -->
            <!-- nav -->

            <nav role="footer-nav">

                <a href="#">Terms of Use </a>

                <a href="#">Privacy Policy</a>

            </nav>

            <!-- nav -->

        </div>

    </footer>

    <!-- footer -->
    </main>

    <!-- main -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="js/jquery.min.js" type="text/javascript"></script>

    <script src="js/parallax.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        //$('.parallax-window').parallax({});

    </script>

    <script src="js/main.js" type="text/javascript"></script>

    <script src="js/owl.carousel.js" type="text/javascript"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="js/maps.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>

    <script type="text/javascript" src="js/video.js"></script>

    <script src="js/custom.js" type="text/javascript"></script>

    <script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>

    <script src="js/jquery.contact.js" type="text/javascript"></script>

    <script src="js/bootstrap.min.js" type="text/javascript"></script>

    <script src="js/html5shiv.min.js" type="text/javascript"></script>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="136095573116780"
         theme_color="#0084ff">
    </div>
</body>
</html>